<template>
    <div class="flex h-screen">
      <!-- Sidebar -->
      <aside class="bg-gray-800 text-gray-300 w-56 flex-none">
        
        <nav class="mt-4">
          <router-link to="/dashboard">
          <div class="flex items-center px-4 py-3 hover:bg-gray-700">
            <!-- Icon SVG -->
            <span class="text-gray-400">
              <svg class="h-6 w-6 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path strokeLinecap="round" strokeLinejoin="round" strokeWidth="2" d="M4 6h16M4 12h16M4 18h16"></path>
              </svg>
            </span>
            Dashboard
        </div>
        </router-link>
          <router-link to="/bookings">
          <div class="flex items-center px-4 py-3 hover:bg-gray-700">
            <!-- Icon SVG -->
            <span class="text-gray-400">
              <svg class="h-6 w-6 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path strokeLinecap="round" strokeLinejoin="round" strokeWidth="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"></path>
                <path strokeLinecap="round" strokeLinejoin="round" strokeWidth="2" d="M20 20h-2a1 1 0 01-1-1v-2a5 5 0 00-5-5H7a5 5 0 00-5 5v2a1 1 0 01-1 1H4"></path>
              </svg>
            </span>
            Bookings
        </div>
        </router-link>
          <router-link to="/cars">
          <div class="flex items-center px-4 py-3 hover:bg-gray-700">
            <!-- Icon SVG -->
            <span class="text-gray-400">
              <svg class="h-6 w-6 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path strokeLinecap="round" strokeLinejoin="round" strokeWidth="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"></path>
                <path strokeLinecap="round" strokeLinejoin="round" strokeWidth="2" d="M20 20h-2a1 1 0 01-1-1v-2a5 5 0 00-5-5H7a5 5 0 00-5 5v2a1 1 0 01-1 1H4"></path>
              </svg>
            </span>
            Cars
        </div>
        </router-link>
        <router-link to="/geo-page">
          <div class="flex items-center px-4 py-3 hover:bg-gray-700">
            <!-- Icon SVG -->
            <span class="text-gray-400">
              <svg class="h-6 w-6 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path strokeLinecap="round" strokeLinejoin="round" strokeWidth="2" d="M13 10V3L4 14h7v7l9-11h-7z"></path>
              </svg>
            </span>
            Geo Page
          </div>
        </router-link>
        <router-link to="/settings">
          <div class="flex items-center px-4 py-3 hover:bg-gray-700">
            <!-- Icon SVG -->
            <span class="text-gray-400">
              <svg class="h-6 w-6 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path strokeLinecap="round" strokeLinejoin="round" strokeWidth="2" d="M13 10V3L4 14h7v7l9-11h-7z"></path>
              </svg>
            </span>
            Settings
          </div>
        </router-link>
        <router-link to="/page-template">
          <div class="flex items-center px-4 py-3 hover:bg-gray-700">
            <!-- Icon SVG -->
            <span class="text-gray-400">
              <svg class="h-6 w-6 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path strokeLinecap="round" strokeLinejoin="round" strokeWidth="2" d="M13 10V3L4 14h7v7l9-11h-7z"></path>
              </svg>
            </span>
            Page Template
          </div>
        </router-link>
          <!-- Add more links here -->
        </nav>
      </aside>
  
      <!-- Main Content -->
      <main class="flex-1 p-8 overflow-auto">
        <router-view></router-view>
      </main>
    </div>
  </template>
  
  <script setup>
  import { ref } from 'vue';
  import { useRoute } from 'vue-router';
  
  const route = useRoute();

  </script>  