<template>
    <div>
      <h1 class="text-2xl font-extrabold mb-6">Bookings</h1>
      <div class="w-full">
        <Dialog v-model:visible="blocked" v-bind:closable="false" modal header="Getting Bookings" :style="{ width: '30vw'}">
        <div class="inset-0 grid place-items-center z-50 bg-white">
            <ProgressSpinner aria-label="Installing Plugins" />
            <p class="text-xl text-center mt-6">Getting All Bookings</p>
            <p class="text-sm text-center mt-6">Please allow us sometime</p>
        </div>
        </Dialog>

        <DataTable :value="bookings" scrollable scrollHeight="700px" showGridlines tableStyle="min-width: 50rem">
            <Column field="id" header="Booking ID"></Column>
            <Column field="name" header="Name"></Column>
            <Column field="email" header="Email"></Column>
            <Column field="phone" header="Phone"></Column>
            <Column field="pickup_date" header="Pickup Date"></Column>
            <Column field="dropoff_date" header="Dropoff Date"></Column>
            <Column field="selected_car" header="Selected Car"></Column>
            <Column field="price" header="Price"></Column>
        </DataTable>
    </div>
    </div>
  </template>
  
<script setup>
import { ref, onMounted } from 'vue';
import axios from 'axios';
import Swal from 'sweetalert2';
import { useAdminStore } from './data';

import DataTable from 'primevue/datatable';
import Column from 'primevue/column';
import ColumnGroup from 'primevue/columngroup';   // optional
import Row from 'primevue/row';                   // optional
import ProgressSpinner from 'primevue/progressspinner';
import Dialog from 'primevue/dialog';

const blocked = ref(true);
const bookings = ref();

onMounted(async () => {
  try {
    const response = await axios.get('/api/booking/get/all');
    bookings.value = response.data;
    blocked.value = false;
  } catch (error) {
    console.error(error);
    Swal.fire('Error', 'Failed to fetch bookings', 'error');
  }
});


</script>
  