<template>
    <div>
      <h1 class="text-2xl font-extrabold ml-4 mb-6">Car Price</h1>
      <Dialog v-model:visible="carsModal" v-bind:closable="false" modal header="Getting Cars" :style="{ width: '30vw'}">
        <div class="inset-0 grid place-items-center z-50 bg-white">
            <ProgressSpinner aria-label="Installing Plugins" />
            <p class="text-xl text-center mt-6">Getting All Cars</p>
            <p class="text-sm text-center mt-6">Please allow us sometime</p>
        </div>
      </Dialog>

      <Dialog v-model:visible="blocked" v-bind:closable="true" modal header="Update Car" :style="{ width: '30vw'}">
      <div class="inset-0 grid place-items-center z-50 bg-white">
        <div class="grid">

            <label for="carname">Car Name</label>
            <InputText v-model="carname" id="carname" required="true" autofocus class="mt-2 mb-4" />

            <label for="carprice">Car Cost</label>
          <InputNumber v-model="carPrice" inputId="carprice" mode="currency" showButtons currency="USD" locale="en-US" class="mt-2 mb-4" />

            <label for="carfeature">Car Feature</label>
            <InputText v-model="carfeature" id="carfeature" required="true" autofocus class="mt-2 mb-4" />

            <label for="carshortdesc">Car Short Description</label>
            <InputText v-model="carshortdesc" id="carshortdesc" required="true" autofocus class="mt-2 mb-4" />

            <label for="cardesc">Car Description</label>
            <Editor v-model="cardesc" editorStyle="height: 320px" class="mt-2 mb-4" />

            
            <ConfirmPopup></ConfirmPopup>
            <Button @click="setCarPrice" label="Update Car" class="mt-2 mb-4" />
            <Button @click="deleteCar" severity="danger" label="Delete Car" class="mt-2 mb-4" />
          </div>
    </div>
    </Dialog>
    
    <Toolbar class="mb-4">
                <template #start>
                    <Button label="Add New Car" severity="success" class="mr-2" @click="openPostModal" />
                    <Toast />
                    <ConfirmDialog></ConfirmDialog>
                </template>
    </Toolbar>

    <Dialog v-model:visible="postModal" v-bind:closable="true" modal header="New Car" :style="{ width: '35vw'}">
        <div class="">
          <div class="grid">
            <label for="carname">Car Name</label>
            <InputText v-model="carname" id="carname" required="true" autofocus class="mt-2 mb-4" />

            <label for="carfeature">Car Feature</label>
            <InputText v-model="carfeature" id="carfeature" required="true" autofocus class="mt-2 mb-4" />

            <label for="carprice">Car Cost</label>
            <InputNumber v-model="carPrice" inputId="carprice" mode="currency" showButtons currency="USD" locale="en-US" class="mt-2 mb-4" />

            <label for="carshortdesc">Car Short Description</label>
            <InputText v-model="carshortdesc" id="carshortdesc" required="true" autofocus class="mt-2 mb-4" />

            <label for="cardesc">Car Description</label>
            <Editor v-model="cardesc" editorStyle="height: 320px" class="mt-2 mb-4" />

            <label for="image" class="mb-4">Car Image</label>
            <FileUpload name="image" url="/api/car/upload/image" @upload="handleUpload" accept="image/*" :maxFileSize="1000000">
            <template #empty>
                <p>Drag and drop files to here to upload.</p>
            </template>
            </FileUpload>

            <div class="grid grid-cols-2 gap-5 mt-4">
            <div class="grid">
            <label for="carbrand">Brand</label>
            <InputText v-model="carbrand" id="carbrand" required="true" autofocus class="mt-2 mb-4" />
            </div>

            <div class="grid">
            <label for="carmodel">Model</label>
            <InputText v-model="carmodel" id="carmodel" required="true" autofocus class="mt-2 mb-4" />
            </div>

            <div class="grid">
            <label for="carbody">Body</label>
            <InputText v-model="carbody" id="carbody" required="true" autofocus class="mt-2 mb-4" />
            </div>

            <div class="grid">
            <label for="carseats">Seats</label>
            <InputText v-model="carseats" id="carseats" required="true" autofocus class="mt-2 mb-4" />
            </div>

            <div class="grid">
            <label for="carcolor">Color</label>
            <InputText v-model="carcolor" id="carcolor" required="true" autofocus class="mt-2 mb-4" />
            </div>

            <div class="grid">
            <label for="carengine">Engine</label>
            <InputText v-model="carengine" id="carengine" required="true" autofocus class="mt-2 mb-4" />
            </div>

            <div class="grid">
            <label for="cartransmission">Transmission</label>
            <InputText v-model="cartransmission" id="cartransmission" required="true" autofocus class="mt-2 mb-4" />
            </div>

            <div class="grid">
            <label for="carmph">0-60 MPH</label>
            <InputText v-model="carmph" id="carmph" required="true" autofocus class="mt-2 mb-4" />
            </div>

            <div class="grid">
            <label for="carhp">Horsepower</label>
            <InputText v-model="carhp" id="carhp" required="true" autofocus class="mt-2 mb-4" />
            </div>

            <div class="grid">
            <label for="cardrivetrain">Drivetrain</label>
            <InputText v-model="cardrivetrain" id="cardrivetrain" required="true" autofocus class="mt-2 mb-4" />
            </div>

            <div class="grid">
            <label for="cartorque">Torque</label>
            <InputText v-model="cartorque" id="cartorque" required="true" autofocus class="mt-2 mb-4" />
            </div>

            </div>

            <Button @click="addNewCar" label="Add New Car" class="mt-2 mb-4" />
          </div>
      </div>
      </Dialog>

      <ul class="grid sm:grid-cols-2 md:grid-cols-4 gap-8 mt-8 mb-8">
            <li v-for="car in cars" key="car.slug">
              <div @click="selectCar(car.slug,car.cost,car.name,car.feature,car.image)" class="bg-white shadow-lg car-item" :class="{ 'selected-car': selectedcar === car.slug }">
                    <img class="w-full sm:h-32 md:h-56 object-cover" :src="car.image" />
                    <div class="text-center p-4">
                    <h4 class="mt-4 mb-4 text-xl">{{ car.name }}</h4>
                    <p class="mb-6 text-xs">{{ car.description }}</p>
                    <p class="mb-2 text-xl font-bold">${{ car.cost }}</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
  </template>
  
  <script setup>
  import { ref, onMounted } from 'vue';
  import { S3Client, PutObjectCommand } from '@aws-sdk/client-s3';
  import axios from 'axios';
  import Swal from 'sweetalert2';
  import Toolbar from 'primevue/toolbar';
  import InputText from 'primevue/inputtext';
  import FileUpload from 'primevue/fileupload';
  import Editor from 'primevue/editor';
  import Dialog from 'primevue/dialog';
  import ProgressSpinner from 'primevue/progressspinner';
  import InputNumber from 'primevue/inputnumber';
  import Button from 'primevue/button';
  import { useConfirm } from "primevue/useconfirm";
  import ConfirmPopup from 'primevue/confirmpopup';

  import { useAdminStore } from './data';

  const confirm = useConfirm();
  
  const adminStore = useAdminStore();

  
  const carsModal = ref(true);
  const postModal = ref(false);
  const blocked = ref(false);

  const cars = ref();
  const selectedCar = ref('');
  const selectedcar = ref(null);
  
  const carname = ref('');
  const carfeature = ref('');
  const carPrice = ref('');
  const carimage = ref('');
  const carshortdesc = ref('');
  const cardesc = ref('');
  const carbrand = ref('');
  const carmodel = ref('');
  const carbody = ref('');
  const carseats = ref('');
  const carcolor = ref('');
  const carengine = ref('');
  const cartransmission = ref('');
  const carmph = ref('');
  const carhp = ref('');
  const cardrivetrain = ref('');
  const cartorque = ref('');
  
  const fetchCars = async () => {
  try {
    const response = await axios.get('/api/cars/all');
    const responseData = response.data['available_cars'];
    carsModal.value = false;
    cars.value = responseData;
  } catch (error) {
    console.error(error);
    Swal.fire('Error', 'Failed to fetch cars', 'error');
  }
};

onMounted(fetchCars);
  
  const selectCar = (carslug,carcost,name,feature,image) => {
        console.log(carslug);
        selectedCar.value = carslug;
        carname.value = name;
        carfeature.value = feature;
        carPrice.value = carcost;
        blocked.value = true;
    }

    const setCarPrice = () => {
    if (selectedCar.value && carPrice.value !== '') {
      axios
        .post('/api/cars/price/set', {
          slug: selectedCar.value,
          cost: carPrice.value,
        })
        .then((response) => {
          blocked.value = false;
          Swal.fire('Good job!', 'Price Updated Successfully!', 'success');
          fetchCars(); // Reload car data
          console.log(response.data);
        })
        .catch((error) => {
          console.error(error);
        });
    }
  };

  const deleteCar = (event) => {
    confirm.require({
        target: event.currentTarget,
        message: 'Are you sure you want to delete this car?',
        icon: 'pi pi-exclamation-triangle',
        accept: () => {
          if (selectedCar.value !== '') {
    axios
      .post('/api/car/delete', {
        slug: selectedCar.value,
      })
      .then((response) => {
        blocked.value = false;
        Swal.fire('Good job!', 'Car Deleted Sucessfully!', 'success');
        fetchCars();
      })
      .catch((error) => {
        console.error(error);
      });
  } else {
      toast.add({ severity: 'error', summary: 'Unknown Error', detail: 'There is some error in server or your internet is unstable', life: 5000 });  }
        },
        reject: () => {
            
        }
    });
    
};

const openPostModal = () => {
  postModal.value = true;
  carname.value = '';
  carfeature.value = '';
  carPrice.value = '';
}

const handleUpload = (response) => {
  carimage.value = response.xhr.response.replace(/"/g, '');
}

const addNewCar= () => {
  if (carname.value && carPrice.value !== '') {
    axios
      .post('/api/car/create', {
        name: carname.value,
        cost: carPrice.value ?? '',
        image: carimage.value ?? '',
        description: carfeature.value,
        short_description: carshortdesc.value,
        long_description: cardesc.value,
        brand: carbrand.value,
        model: carmodel.value,
        body: carbody.value,
        seats: carseats.value,
        color: carcolor.value,
        engine: carengine.value,
        transmission: cartransmission.value,
        mph: carmph.value,
        hp: carhp.value,
        drivetrain: cardrivetrain.value,
        torque: cartorque.value

      })
      .then((response) => {
        postModal.value = false;
        Swal.fire('Good job!', 'Car Added Sucessfully!', 'success');
        fetchCars();
      })
      .catch((error) => {
        console.error(error);
      });
  } else {
    toast.add({ severity: 'error', summary: 'Missing Values', detail: 'Please fill out all required fields.', life: 5000 });  }
};

  </script>
  