<template>
    <div class="grid grid-cols-4 gap-6 text-center">
        <div class="bg-green-500 p-24 pt-16 pb-16 text-white">
            <h1 class="text-5xl font-bold mb-4">36</h1>
            <h2 class="text-xl font-normal">Bookings</h2>
        </div>
        <div class="bg-red-500 p-24 pt-16 pb-16 text-white">
            <h1 class="text-5xl font-bold mb-4">36</h1>
            <h2 class="text-xl font-normal">Cars</h2>
        </div>
        <div class="bg-yellow-500 p-24 pt-16 pb-16 text-white">
            <h1 class="text-5xl font-bold mb-4">36</h1>
            <h2 class="text-xl font-normal">Posts</h2>
        </div>
        <div class="bg-blue-500 p-24 pt-16 pb-16 text-white">
            <h1 class="text-5xl font-bold mb-4">36</h1>
            <h2 class="text-xl font-normal">Sales</h2>
        </div>
    </div>    
</template>

<script setup>

</script>