<template>
    <div>
      <h1 class="text-2xl font-extrabold mb-6">Geo Pages</h1>
      <div class="w-full">
        <Dialog v-model:visible="blocked" v-bind:closable="false" modal header="Getting Posts" :style="{ width: '30vw'}">
        <div class="inset-0 grid place-items-center z-50 bg-white">
            <ProgressSpinner aria-label="Installing Plugins" />
            <p class="text-xl text-center mt-6">Getting All Posts</p>
            <p class="text-sm text-center mt-6">Please allow us sometime</p>
        </div>
        </Dialog>

        <Toolbar class="mb-4">
                <template #start>
                    <Button label="Create New Page" severity="success" class="mr-2" @click="openPostModal" />
                    <Button label="View Page" class="mr-2" @click="viewPost" :disabled="!selectedPost || !selectedPost.id" />
                    <Button label="Delete Page" severity="danger" @click="deletePost" :disabled="!selectedPost || !selectedPost.id" />
                    <Toast />
                    <ConfirmDialog></ConfirmDialog>
                </template>
        </Toolbar>

        <Dialog v-model:visible="postModal" v-bind:closable="true" modal header="New Geo Page" :style="{ width: '30vw'}">
        <div class="">
          <div class="grid">
            <label for="posttitle">Title</label>
            <InputText v-model="posttitle" id="posttitle" required="true" autofocus class="mt-2 mb-4" />

            <div class="grid grid-cols-2 gap-5">
            <div class="grid">
            <label for="postlocation">Location</label>
            <InputText v-model="postlocation" id="postlocation" required="true" autofocus class="mt-2 mb-4" />
            </div>

            <div class="grid">
            <label for="poststate">State</label>
            <Dropdown optionLabel="label" v-model="poststate" :options="states" placeholder="Select a State" filter class="mt-2 mb-4" />
            </div>

            </div>

            <label for="postbody">Content</label>
            <Editor v-model="postbody" editorStyle="height: 320px" class="mt-2 mb-4" />

            <label for="postphone">Phone</label>
            <InputText v-model="postphone" id="postphone" required="true" autofocus class="mt-2 mb-4" />

            <Button @click="createNewPost" label="Create Page" class="mt-2 mb-4" />
          </div>
      </div>
      </Dialog>

        <DataTable v-model:selection="selectedPost" :value="posts" 
        scrollable scrollHeight="700px" selectionMode="single"
        @rowSelect="onRowSelect" 
        showGridlines tableStyle="min-width: 50rem">
        <Column selectionMode="single" header="" headerStyle="width: 2rem"></Column>
          <Column field="title" header="Title" headerStyle="width: 8rem"></Column>
            <Column field="body" header="Content" headerStyle="width: 8rem"></Column>
            <Column field="location_name" header="Location" headerStyle="width: 2rem"></Column>
            <Column field="state" header="State" headerStyle="width: 2rem"></Column>
            <Column field="phone" header="Phone" headerStyle="width: 2rem"></Column>
        </DataTable>
    </div>
    </div>
  </template>

<script setup>
</script>

<script setup>
import { ref, onMounted } from 'vue';
import axios from 'axios';
import Swal from 'sweetalert2';
import { useAdminStore } from './data';

import Button from 'primevue/button';
import InputText from 'primevue/inputtext';
import Editor from 'primevue/editor';
import Dropdown from 'primevue/dropdown';
import Toolbar from 'primevue/toolbar';
import DataTable from 'primevue/datatable';
import Column from 'primevue/column';
import ColumnGroup from 'primevue/columngroup';   // optional
import Row from 'primevue/row';                   // optional
import ProgressSpinner from 'primevue/progressspinner';
import ConfirmDialog from 'primevue/confirmdialog';
import Toast from 'primevue/toast';
import { useConfirm } from "primevue/useconfirm";
import { useToast } from "primevue/usetoast";
import Dialog from 'primevue/dialog';


import States from './states.json';

const adminStore = useAdminStore();

const blocked = ref(true);
const postModal = ref(false);
const deleteModal = ref(false);
const posts = ref();
const states = ref(States);

const posttitle = ref();
const postlocation = ref();
const poststate = ref();
const postbody = ref();
const postphone = ref();

const confirm = useConfirm();
const toast = useToast();

const selectedPost = ref();

const fetchPosts = async () => {
  try {
    const response = await axios.get('/api/post/get/all');
    posts.value = response.data;
    blocked.value = false;
  } catch (error) {
    console.error(error);
    Swal.fire('Error', 'Failed to fetch posts', 'error');
  }
};

onMounted(fetchPosts);

const openPostModal = () => {
  postModal.value = true;
}

const createNewPost = () => {
  if (posttitle.value && postlocation.value && poststate.value.value && postphone.value !== '') {
    axios
      .post('/api/post/create', {
        title: posttitle.value,
        body: postbody.value,
        location_name: postlocation.value ?? '',
        state: poststate.value.value ?? '',
        phone: postphone.value ?? '',
      })
      .then((response) => {
        postModal.value = false;
        Swal.fire('Good job!', 'Geo Page Created Sucessfully!', 'success');
        fetchPosts();
        console.log(response.data);
      })
      .catch((error) => {
        console.error(error);
      });
  } else {
    toast.add({ severity: 'error', summary: 'Missing Values', detail: 'Please fill out all required fields.', life: 5000 });  }
};

const viewPost = () => {
  if (selectedPost.value.id !== '') {
    window.open("https://www.legendaryexoticrentals.com/post/" + selectedPost.value.slug, "_blank");
    }
}

const deletePost = () => {
  if (selectedPost.value.id !== '') {
    confirm.require({
        message: 'Do you want to delete this Geo Page?',
        header: 'Delete Confirmation',
        icon: 'pi pi-info-circle',
        acceptClass: 'p-button-danger',
        accept: () => {
                axios.post('/api/post/delete', {id: selectedPost.value.id,}).then((response) => {
                fetchPosts();
                toast.add({ severity: 'info', summary: 'Confirmed', detail: 'Geo Page Deleted Sucessfully', life: 3000 });
                console.log(response.data);
              })
              .catch((error) => {
                console.error(error);
              });
        },
        reject: () => {
            
        }
    });
    }
}


const onRowSelect = (event) => {
    // console.log(event.data.title);
    console.log(selectedPost.value.title);
};


</script>