<template>
    <div>
        <h1 class="text-2xl font-extrabold mb-6">Settings</h1>
        <Dialog v-model:visible="settingsModal" v-bind:closable="false" modal header="Getting Settings" :style="{ width: '30vw'}">
        <div class="inset-0 grid place-items-center z-50 bg-white">
            <ProgressSpinner aria-label="Getting Settings" />
            <p class="text-xl text-center mt-6">Getting All Getting</p>
            <p class="text-sm text-center mt-6">Please allow us sometime</p>
        </div>
      </Dialog>

        <div class="w-4/6">
        <Fieldset legend="Hero Section" class="mt-4 mb-4">
            <div class="grid mt-4 mb-4">
            <label for="herotext">Hero Section Text</label>
            <InputText id="herotext" v-model="herotext" class="mt-2 mb-2" />
            </div>
        </Fieldset>

        <Fieldset legend="Video Section" class="mt-4 mb-4">
            <div class="grid mt-4 mb-4">
            <label for="videotitle">Title</label>
            <InputText id="videotitle" v-model="videotitle" class="mt-2 mb-2" />

            <label for="videodesc">Description</label>
            <InputText id="videodesc" v-model="videodesc" class="mt-2 mb-2" />
            </div>
        </Fieldset>

        <Fieldset legend="Cars Section" class="mt-4 mb-4">
            <div class="grid mt-4 mb-4">
            <label for="carstitle">Title</label>
            <InputText id="carstitle" v-model="carstitle" class="mt-2 mb-2" />

            <label for="carsdesc">Description</label>
            <InputText id="carsdesc" v-model="carsdesc" class="mt-2 mb-2" />
            </div>
        </Fieldset>

        <Fieldset legend="Other Settings" class="mt-4 mb-4">
            <div class="grid mt-4 mb-4">
            <label for="phone">Phone</label>
            <InputText id="phone" v-model="phone" class="mt-2 mb-2" />
            </div>
        </Fieldset>

        <Button @click="updateSettings" label="Save Settings" />
    </div>

    </div>
</template>

<script setup>
import { ref, onMounted } from 'vue';
import Fieldset from 'primevue/fieldset';
import InputText from 'primevue/inputtext';
import Button from 'primevue/button';
import Dialog from 'primevue/dialog';
import ProgressSpinner from 'primevue/progressspinner';
import Swal from 'sweetalert2';
import axios from 'axios';

const settings = ref();
const settingsModal = ref(true);

const herotext = ref('');
const videotitle = ref('');
const videodesc = ref('');
const carstitle = ref('');
const carsdesc = ref('');
const phone = ref('');


const fetchSettings = async () => {
  try {
    const response = await axios.get('/api/settings/get');
    const settings = response.data;
    settingsModal.value = false;
    herotext.value = settings.herotext;
    videotitle.value = settings.videotitle;
    videodesc.value = settings.videodesc;
    carstitle.value = settings.carstitle;
    carsdesc.value = settings.carsdesc;
    phone.value = settings.phone;
  } catch (error) {
    Swal.fire('Error', 'Failed to fetch settings', 'error');
  }
};

onMounted(fetchSettings);


const updateSettings = async () => {
  const settingsData = {
    herotext: herotext.value,
    videotitle: videotitle.value,
    videodesc: videodesc.value,
    carstitle: carstitle.value,
    carsdesc: carsdesc.value,
    phone: phone.value,
  };

  try {
    const response = await axios.post('/api/settings/update', settingsData);
    Swal.fire('Good job!', 'Settings Updated Successfully!', 'success');
  } catch (error) {
    console.log(error)
    Swal.fire('Error', 'Failed to updating settings', 'error');
  }
};

</script>