@import url('https://fonts.googleapis.com/css2?family=Cardo:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Cardo', serif;
}

@media only screen and (max-width: 600px) {
    .footer {
        padding-bottom: 22px;
    }
  }

  .footer {
    padding-bottom: 20px;
}

.car-item {
  cursor: pointer;
}

.selected-car {
  color: #fff;
  background-color: #DC2626;
}