<template>
  <div class="bg-[url('https://lasrental.s3.us-west-2.amazonaws.com/lasrental_website/Lamborghini_HC_02.jpg')] bg-no-repeat bg-cover bg-center min-h-screen flex items-center justify-center">
    <div class="bg-white text-white rounded-md shadow-lg sm:w-full md:w-3/6">
      <div class="sm:block md:flex mx-auto max-w-6xl">
        <div class="sm:hidden md:grid place-content-center bg-black w-2/6 p-12 pl-32 pr-32 overflow-hidden">
          <img src="https://lasrental.s3.us-west-2.amazonaws.com/lasrental_website/laslogo_new.png" alt="">
            <p class="text-center font-bold">Rent Your Dream Car</p>
            <p class="text-sm mt-8">Office: 7326 E Evans RdScottsdale, AZ 85260, United States<br><br>
              Telephone : 480-329-2931<br><br>
              Email : reservations@legendaryexoticrentals.com
            </p>
            <a href="https://www.legendaryexoticrentals.com/" class="bg-red-500 p-2 mt-8 text-white text-center">Back To Home</a>
        </div>
        <div class="flex items-center justify-center w-full overflow-hidden">
          <router-view></router-view>
        </div>
      </div>
    </div>
  </div>
</template>
  
  <script setup>
  import { defineProps, ref, onMounted } from 'vue';
  import { createRouter, createWebHistory } from 'vue-router';
  
  const props = defineProps({
    text: String,
  });
  
  const routes = [
    // Define your routes here
  ];
  
  const router = createRouter({
    history: createWebHistory(),
    routes,
  });
  
  onMounted(() => {
    // Your mounted logic here
  });
  </script>  