<template>
    <div class="w-5/6">
    <div class="pt-16 pb-12">
      <h1 class="sm:text-2xl md:text-3xl font-bold text-center text-black mb-8">Booking Cost</h1>
      <div class="border border-red-500">      
          <div>
          <div>
            <div class="flex justify-between text-lg text-black sm:p-2 md:p-4">
              <h1 class="font-bold">Basic Cost</h1>
              <p class="text-black">${{ basiccost }} (${{ carcost }} x {{ bookingdays }} Days)</p>
            </div>
          </div>
          <hr class="mb-4 border-red-500">
          <div>
            <h1 class="text-xl font-bold text-black text-center mt-8 mb-4">Extra Packages</h1>
            <ul class="text-black text-lg">
              <li class="flex justify-between sm:p-2 md:p-4">
                      <label for="tireprotection" class="">Tire Protection</label>
                      <div>
                        <Checkbox v-model="tireprotection" inputId="tireprotection" name="tireprotection" value="50" />
                        <label class="ml-2">$50</label>
                      </div>
                </li>

                <li class="flex justify-between sm:p-2 md:p-4">
                      <label for="ingredient1" class="">Mechanical Breakdown Coverage</label>
                      <div>
                        <Checkbox v-model="mbcoverage" inputId="tireprotection" name="tireprotection" value="100" />
                        <label class="ml-2">$100</label>
                      </div>
                </li>

                <li class="flex justify-between sm:p-2 md:p-4">
                      <label for="ingredient1" class="">Prepaid Fuel Credit</label>
                      <div>
                        <Checkbox v-model="pfcredit" inputId="tireprotection" name="tireprotection" value="100" />
                        <label class="ml-2">$100</label>
                      </div>
                </li>

                <li class="flex justify-between sm:p-2 md:p-4">
                      <label for="ingredient1" class="">Rally Package</label>
                      <div>
                        <Checkbox v-model="rallypackage" inputId="rallypackage" name="rallypackage" value="500" />
                        <label class="ml-2">$500</label>
                      </div>
                </li>
            </ul>
          </div>
          <div class="flex justify-between bg-red-500 text-white text-lg sm:p-2 md:p-4 mt-4">
            <h1 class="font-bold">Total Cost</h1>
            <p class="font-bold">${{ totalCost }}</p>
          </div>
          
        </div>
        </div>
        <div class="flex justify-center w-full mt-6">
            <Button @click="personalDetails()" label="Next" />
          </div>
    </div>
  </div>

  <!--
    <div class="pt-16 block">
      <h1 class="text-2xl font-medium text-center text-black mb-6">Booking Cost</h1>
      <div class="flex items-center h-fit justify-center">
        <div class="bg-white sm:p-8 md:p-12 md:m-4 rounded-md drop-shadow-lg md:w-2/6">
          <div>
            <div class="flex justify-between sm:p-2 md:p-4">
              <h1 class="text-base font-medium text-black">Basic Cost</h1>
              <p class="text-base text-black">${{ basiccost }} (${{ carcost }} x {{ bookingdays }} Days)</p>
            </div>
          </div>
          <hr class="mt-4 mb-4">
          <div>
            <h1 class="text-xl font-medium text-black text-center mt-8 mb-4">Extra Packages</h1>
            <ul>
              <li class="flex justify-between sm:p-2 md:p-4">
                      <label for="tireprotection" class="">Tire Protection</label>
                      <div>
                        <Checkbox v-model="tireprotection" inputId="tireprotection" name="tireprotection" value="50" />
                        <label class="ml-2">$50</label>
                      </div>
                </li>

                <li class="flex justify-between sm:p-2 md:p-4">
                      <label for="ingredient1" class="">Mechanical Breakdown Coverage</label>
                      <div>
                        <Checkbox v-model="mbcoverage" inputId="tireprotection" name="tireprotection" value="100" />
                        <label class="ml-2">$100</label>
                      </div>
                </li>

                <li class="flex justify-between sm:p-2 md:p-4">
                      <label for="ingredient1" class="">Prepaid Fuel Credit</label>
                      <div>
                        <Checkbox v-model="pfcredit" inputId="tireprotection" name="tireprotection" value="100" />
                        <label class="ml-2">$100</label>
                      </div>
                </li>

                <li class="flex justify-between sm:p-2 md:p-4">
                      <label for="ingredient1" class="">Rally Package</label>
                      <div>
                        <Checkbox v-model="rallypackage" inputId="rallypackage" name="rallypackage" value="500" />
                        <label class="ml-2">$500</label>
                      </div>
                </li>
            </ul>
          </div>
          <hr class="mt-4 mb-4">
          <div class="flex justify-between sm:p-2 md:p-4">
            <h1 class="text-base text-black font-bold">Total Cost</h1>
            <p class="text-base text-red-600 font-bold">${{ totalCost }}</p>
          </div>
          <div class="flex justify-center w-full mt-2">
            <Button @click="personalDetails()" label="Next" />
          </div>
        </div>
      </div>
    </div>
    -->
  </template>
  

<script>
import { ref, watch } from 'vue';
import { useRouter } from 'vue-router';
import Button from 'primevue/button';
import Checkbox from 'primevue/checkbox';
import Swal from 'sweetalert2';

import { useBookingStore } from './store';

export default {
  components: {
    Button,
    Checkbox
  },
  setup(){
    const router = useRouter();
    const bookingStore = useBookingStore(); // Use the store

    const carcost = bookingStore.carcost;
    const bookingdays = bookingStore.bookingdays;
    const basiccost = carcost*bookingdays;
    
    const tireprotection = ref(false); // Use 'false' as initial value
    const mbcoverage = ref(false);
    const pfcredit = ref(false);
    const rallypackage = ref(false);

    const totalCost = ref(basiccost); // Initialize with basic cost

    watch([tireprotection, mbcoverage, pfcredit, rallypackage], () => {
        totalCost.value = basiccost + 
        Number(tireprotection.value) + 
        Number(mbcoverage.value) + 
        Number(pfcredit.value) + 
        Number(rallypackage.value);
    });

    const personalDetails = () => {
        bookingStore.totalcost = totalCost;
        router.push({
              path: '/personal-details',
              name: 'personaldetails',
            });
      };

    return {
      carcost,
      bookingdays,
      basiccost,
      tireprotection,
      mbcoverage,
      pfcredit,
      rallypackage,
      totalCost,
      personalDetails
    }
  },
};
</script>