<template>
    <div class="pt-16 block">
      <h1 class="text-2xl font-medium text-center text-black mb-6">Booking Hours</h1>
      <div class="flex items-center h-fit justify-center">
        <div class="bg-white sm:p-8 md:p-12 md:m-4 rounded-md drop-shadow-lg md:w-2/6">
          <div class="flex">
            <ul class="max-w-md divide-y divide-gray-200 dark:divide-gray-700">
              <li class="pb-3 sm:pb-4">
                <div class="flex items-center sm:space-x-16 md:space-x-56 p-4">
                  <div class="flex-1">
                    <p class="text-xl font-medium text-gray-900 truncate dark:text-white">24 Hours</p>
                    <p class="text-base text-gray-500 truncate dark:text-gray-400 mt-2">$1300</p>
                  </div>
                  <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
                    <vs-button id="24hours" border :active="active === 1" @click="active = 1; setBookingTime($event)">Select Slot</vs-button>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="flex w-full mt-0">
            <button @click="setBookingSlot()" block>Next</button>
          </div>
        </div>
      </div>
    </div>
  </template>
  
  <script setup>
  import { useRouter } from 'vue-router';
  import VueSweetalert2 from 'vue-sweetalert2';
  import 'sweetalert2/dist/sweetalert2.min.css';
  
  const router = useRouter();
  
  const pickupdate = router.currentRoute.value.params.pickupdate;
  const dropoffdate = router.currentRoute.value.params.dropoffdate;
  const selectedcar = router.currentRoute.value.params.selectedcar;
  
  let bookingslot = null;
  let active = null;
  
  const swal = VueSweetalert2.swal;
  
  const setBookingTime = ($event) => {
    const current_id = $event.target.parentElement.id;
    bookingslot = current_id;
  };
  
  const setBookingSlot = () => {
    if (active !== null) {
      router.push({
        path: '/bookingcost',
        name: 'bookingcost',
        props: true,
        params: {
          pickupdate: pickupdate,
          dropoffdate: dropoffdate,
          selectedcar: selectedcar,
          bookingslot: bookingslot,
        },
      });
    } else {
      swal('Please select your preferred booking hour');
    }
  };
  </script>
  