<template>
  <div>
    <div class="pt-16 pb-12">
      <h1 class="sm:text-2xl md:text-3xl font-bold text-center text-black mb-8">Select Car</h1>
      <Toast />
      <div class="max-h-[400px] overflow-y-scroll border border-red-500">      
          <ul class="grid sm:grid-cols-1 md:grid-cols-1 gap-6 p-4">
            <li v-for="car in availablecars" key="car.slug">
              <div @click="selectCar(car.slug,car.cost,car.name)" class="bg-white text-black shadow-lg car-item flex" :class="{ 'selected-car': selectedcar === car.slug }">
                    <img class="w-3/6 sm:h-52 md:h-48 object-cover" :src="car.image" />
                    <div class="p-4">
                    <h4 class="text-xl font-bold mb-4">{{ car.name }}</h4>
                    <p class="text-2xl font-bold mb-6">${{ car.cost }}</p>
                    <p class=" text-sm">${{ car.description }}</p>
                    </div>
                </div>
            </li>
           </ul>
        </div>
      <!-- <VDatePicker v-model="date" mode="date" timezone="UTC" :min-date="new Date().toDateString()" expanded /> -->
      <div class="flex justify-center mt-8">
        <Button @click="setCarlist()" label="Next" />
    </div>
    </div>
  </div>
  
  <!--
    <div class="pt-16 block">
      <h1 class="text-2xl font-medium text-center text-black mb-6">Select Car</h1>
      <div class="flex items-center h-fit justify-center">
        <div class="bg-white sm:p-0 md:p-8 md:m-4 rounded-md drop-shadow-lg sm:w-full md:w-4/6">
          <Toast />
          <ul class="grid sm:grid-cols-1 md:grid-cols-3 gap-6 mt-8 mb-8 ml-4 mr-4">
            <li v-for="car in availablecars" key="car.slug">
              <div @click="selectCar(car.slug,car.cost,car.name)" class="bg-white shadow-lg car-item" :class="{ 'selected-car': selectedcar === car.slug }">
                    <img class="w-full sm:h-52 md:h-48 object-cover" :src="car.image" />
                    <div class="text-center p-4">
                    <h4 class="mb-4">{{ car.name }}</h4>
                    <p class="mb-6 text-xs">${{ car.description }}</p>
                    <p class="mb-2">${{ car.cost }}</p>
                    </div>
                </div>
            </li>
           </ul>
          
          <div class="flex">
            <div class="sm:p-4 md:p-6 sm:mt-6 md:mt-0">
              <ul class="max-w-md divide-y divide-gray-200 dark:divide-gray-700">
                <li v-for="car in availablecars" class="pt-3 pb-3 sm:pb-4">
                  <div class="bg-white shadow-lg">
                    <a href="/maclaren-gt-rental"><nuxt-img class="w-full sm:h-56 md:h-96 object-cover" src="https://lasrental.s3.us-west-2.amazonaws.com/lasrental_website/Mclaren_GT_01.jpg" alt="" /></a>
                    <div class="text-center mt-8 mb-8">
                    <h4 class="mb-4">Mclaren GT</h4>
                    <p class="mb-6">24HR: $1000</p>
                    <a class="bg-red-600 text-white p-2 pl-8 pr-8 rounded-md" href="/maclaren-gt-rental">Book Now</a>
                    </div>
                    
                </div>
                  <div class="flex items-center sm:space-x-2 md:space-x-4">
                    <div class="flex-shrink-0">
                      <img class="sm:w-16 md:w-24 sm:h-16 md:h-24 rounded-full" :src="car.image" alt="Car image">
                    </div>
                    <div class="flex-1 min-w-0">
                      <p class="text-sm font-medium text-gray-900 truncate dark:text-white">{{ car.name }}</p>
                      <p class="text-sm text-gray-500 truncate dark:text-gray-400">{{ car.description }}</p>
                    </div>
                  </div>
                </li>
                <li v-for="car in unavailablecars" class="pt-3 pb-3 sm:pb-4">
                  <div class="flex items-center sm:space-x-2 md:space-x-4">
                    <div class="flex-shrink-0">
                      <img class="sm:w-16 md:w-24 sm:h-16 md:h-24 rounded-full" :src="car.image" alt="Car image">
                    </div>
                    <div class="flex-1 min-w-0">
                      <p class="text-sm font-medium text-gray-900 truncate dark:text-white">{{ car.name }}</p>
                      <p class="text-sm text-gray-500 truncate dark:text-gray-400">{{ car.description }}</p>
                    </div>
                    
                  </div>
                </li>

              </ul>
            </div>
          </div>
          
          
          <div class="flex justify-center w-full mt-0 sm:p-4 md:p-0">
            <Button @click="setCarlist()" label="Next" />
          </div>
        </div>
      </div>
    </div>
  -->
  </template>

<script>
import { ref } from 'vue';
import { useRouter } from 'vue-router';
import Button from 'primevue/button';
import Toast from 'primevue/toast';
import { useToast } from "primevue/usetoast";
import Swal from 'sweetalert2';

import { useBookingStore } from './store';

export default {
  components: {
    Button,
    Toast
  },
  setup(){
    const router = useRouter();
    const bookingStore = useBookingStore(); // Use the store
    const toast = useToast();

    const availablecars = bookingStore.availablecars;
    const selectedcar = ref(null);

      const selectCar = (carslug,carcost,carname) => {
        selectedcar.value = carslug;
        bookingStore.selectedcar = carslug;
        bookingStore.carcost = carcost;
        
        toast.add({ severity: 'success', summary: 'Great', detail: carname + ' has Selected', life: 800 });
      };

      const setCarlist = () => {
        if (selectedcar.value != null) {
          router.push({
            path: '/bookingcost',
            name: 'bookingcost',
          });
        } else {
          Swal.fire({
          title: 'Error!',
          text: 'Please select a car from the list',
          icon: 'error',
          confirmButtonText: 'OK'
        })
        }
      };

    return {
      selectedcar,
      availablecars,
      selectCar,
      setCarlist,
    }
  },
};
</script>