<template>
  <div>
    <Dialog v-model:visible="blocked" v-bind:closable="false" modal header="Getting Cars" :style="{ width: '30vw' }" :breakpoints="{ '600px': '75vw'}">
      <div class="inset-0 grid place-items-center z-50 bg-white">
        <ProgressSpinner aria-label="Installing Plugins" />
        <p class="text-xl text-center mt-6">Getting Available Cars</p>
        <p class="text-sm text-center mt-6">Please allow us sometime</p>
    </div>
    </Dialog>
    <div class="p-16">
      <h1 class="sm:text-2xl md:text-3xl font-bold text-center text-black mb-8">Dropoff Date</h1>
      <Calendar v-model="date" :minDate="new Date()" inline="" />
      <!-- <VDatePicker v-model="date" mode="date" timezone="UTC" :min-date="new Date().toDateString()" expanded /> -->
      <div class="flex justify-center mt-8">
      <Button @click="setDropoffDate" label="Next" />
    </div>
    </div>
  </div>
  <!--
    <div class="pt-16 block">
      <h1 class="text-2xl font-medium text-center text-black mb-6">Dropoff Date</h1>
      <Dialog v-model:visible="blocked" v-bind:closable="false" modal header="Getting Cars" :style="{ width: '30vw' }" :breakpoints="{ '600px': '75vw'}">
      <div class="inset-0 grid place-items-center z-50 bg-white">
        <ProgressSpinner aria-label="Installing Plugins" />
        <p class="text-xl text-center mt-6">Getting Available Cars</p>
        <p class="text-sm text-center mt-6">Please allow us sometime</p>
    </div>
    </Dialog>
      <div class="flex items-center h-fit justify-center">
        <div class="bg-white sm:p-8 md:p-12 md:m-4 rounded-md drop-shadow-lg md:w-2/6">
          <div class="flex">
            <VDatePicker v-model="date" mode="date" timezone="UTC" :min-date="new Date().toDateString()" expanded />
          </div>
          <div class="flex justify-center w-full mt-4">
            <Button @click="setDropoffDate()" label="Next" />
          </div>
        </div>
      </div>
    </div>
    -->
  </template>


<script>
import { ref } from 'vue';
import { useRouter } from 'vue-router';
import { DateTime, Interval } from 'luxon';
import VCalendar from 'v-calendar';
import 'v-calendar/style.css';
import BlockUI from 'primevue/blockui';
import Button from 'primevue/button';
import Calendar from 'primevue/calendar';
import ProgressSpinner from 'primevue/progressspinner';
import Dialog from 'primevue/dialog';
import Swal from 'sweetalert2';
import axios from 'axios';

import { useBookingStore } from './store';

export default {
  components: {
    Button,
    Calendar,
    ProgressSpinner,
    Dialog,
    BlockUI
  },
  setup(){
    const router = useRouter();
    const date = ref(null);
    const blocked = ref(false);

    const bookingStore = useBookingStore(); // Use the store
    
    const setDropoffDate = () => {

    if (date.value != null) {
      const pickup_date = bookingStore.pickupdate;
      const dropoff_date = date.value;
  
      const i = Interval.fromDateTimes(pickup_date, dropoff_date);
      const bookingDays = Math.floor(i.length('days')) + 1;
      
      bookingStore.dropoffdate = dropoff_date;
      bookingStore.bookingdays = bookingDays;

      console.log(bookingDays);

      getCar();
  
    } else {
      Swal.fire({
        title: 'Error!',
        text: 'Please select dropoff a date',
        icon: 'error',
        confirmButtonText: 'OK'
      })
    }
  };

  const getCar = () => {
        blocked.value = true;
        const url = '/api/cars/' + bookingStore.pickupdate.value;
        axios.get(url)
          .then(response => {
            console.log(response.data);
            blocked.value = false;
            bookingStore.availablecars = response.data.available_cars;
            bookingStore.unavailablecars = response.data.unavailable_cars;
            router.push({
              path: '/carlist',
              name: 'carlist',
            });
          })
          .catch(error => {
            console.error(error);
          });
      };

    return {
      date,
      blocked,
      setDropoffDate,
    }
  },
  methods: {
    
  },
  mounted(){
    
  }
};
</script>