<template>
    <div class="sm:pt-8 md:pt-16 sm:pb-8 md:pb-16 pl-8 pr-8 w-full">
      <Dialog v-model:visible="blocked" v-bind:closable="false" modal header="Creating Booking" :style="{ width: '30vw' }" :breakpoints="{ '600px': '75vw'}">
      <div class="inset-0 grid place-items-center z-50 bg-white">
        <ProgressSpinner aria-label="Installing Plugins" />
        <p class="text-xl text-center mt-6">We are creating your booking</p>
        <p class="text-sm text-center mt-6">Please allow us sometime</p>
    </div>
    </Dialog>
      <h1 class="sm:text-2xl md:text-3xl font-bold text-center text-black mb-8">Booking Confirmation</h1>
      <div class="grid sm:grid-cols-1 md:grid-cols-2 border border-red-500">
        <div class="block p-6">
          <h1 class="text-xl font-bold text-black mb-8 sm:text-center md:text-left">Personal Details</h1>
            <form>
              <div class="mb-6">
                <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your Name</label>
                <input
                  type="text"
                  id="name"
                  v-model="name"
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                  placeholder="Samual Davis"
                  required
                >
              </div>
              <div class="mb-6">
                <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your email</label>
                <input
                  type="email"
                  id="email"
                  v-model="email"
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                  placeholder="hello@lasrental.com"
                  required
                >
              </div>
              <div class="mb-6">
                <label for="phone" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your Phone</label>
                <input
                  type="text"
                  id="phone"
                  v-model="phone"
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                  placeholder="322-121-5656"
                  required
                >
              </div>
            </form>
          </div>

          <div class="p-6 bg-red-500 text-white sm:text-center md:text-left">
            <h1 class="text-xl font-bold sm:mb-4 md:mb-12">Booking Details</h1>
            <p class="text-base mt-4 mb-4">Pickup Date: {{ pickupdate }}</p>
            <p class="text-base mt-4 mb-4">Dropoff Date: {{ dropoffdate }}</p>
            <p class="text-base mt-4 mb-4">Booking For: {{ bookingdays }} Days</p>
            <p class="text-xl font-bold sm:mt-4 md:mt-8 sm:mb-2 md:mb-4">Total Cost: ${{ totalcost }}</p>
          </div>
          
      </div>
      <div class="flex justify-center mt-8">
            <Button @click="submitBooking" label="Confirm Booking" />
          </div>
    </div>

  <!--
    <div class="pt-16 block">
      <h1 class="text-2xl font-medium text-center text-black mb-6">Personal Details</h1>
      <Dialog v-model:visible="blocked" v-bind:closable="false" modal header="Creating Booking" :style="{ width: '30vw' }" :breakpoints="{ '600px': '75vw'}">
      <div class="inset-0 grid place-items-center z-50 bg-white">
        <ProgressSpinner aria-label="Installing Plugins" />
        <p class="text-xl text-center mt-6">We are creating your booking</p>
        <p class="text-sm text-center mt-6">Please allow us sometime</p>
    </div>
    </Dialog>
      <div class="flex items-center justify-center">
        <div class="bg-white sm:p-8 md:p-12 md:m-4 rounded-md drop-shadow-lg sm:w-full md:w-2/6">
          <div class="block">
            <form>
              <div class="mb-6">
                <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your Name</label>
                <input
                  type="text"
                  id="name"
                  v-model="name"
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                  placeholder="Samual Davis"
                  required
                >
              </div>
              <div class="mb-6">
                <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your email</label>
                <input
                  type="email"
                  id="email"
                  v-model="email"
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                  placeholder="hello@lasrental.com"
                  required
                >
              </div>
              <div class="mb-6">
                <label for="phone" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your Phone</label>
                <input
                  type="text"
                  id="phone"
                  v-model="phone"
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                  placeholder="322-121-5656"
                  required
                >
              </div>
            </form>
          </div>
          <div class="flex justify-center w-full mt-0">
            <Button @click="submitBooking()" label="Confirm Booking" />
          </div>
        </div>
      </div>
    </div>
    -->
  </template>

<script>
import { ref } from 'vue';
import { useRouter } from 'vue-router';
import Button from 'primevue/button';
import ProgressSpinner from 'primevue/progressspinner';
import Dialog from 'primevue/dialog';
import Swal from 'sweetalert2';
import axios from 'axios';
import { DateTime } from "luxon";

import { useBookingStore } from './store';

export default {
  components: {
    Button,
    ProgressSpinner,
    Dialog
  },

  setup(){
    const router = useRouter();
    const bookingStore = useBookingStore(); // Use the store

    const blocked = ref(false);
    const name = ref(null);
    const email = ref(null);
    const phone = ref(null);

    const carcost = bookingStore.carcost;
    const bookingdays = bookingStore.bookingdays;
    const pickupdate = bookingStore.pickupdate.toLocaleDateString('en-US', { timeZone: 'UTC' });
    const dropoffdate = bookingStore.dropoffdate.toLocaleDateString('en-US', { timeZone: 'UTC' });
    const totalcost = bookingStore.totalcost;
    const basiccost = carcost*bookingdays;

    const submitBooking = () => {
    if (!name.value || !email.value || !phone.value) {
      Swal.fire({
        icon: 'error',
        title: 'Oops...',
        text: 'Please fill all the fields!',
      });
      return;
    }
    
    // console.log(pickupdate);

    blocked.value = true;
  
    const url = '/api/booking/create';

    axios.post(url, {
        name: name.value,
        email: email.value,
        phone: phone.value,
        pickup_date: bookingStore.pickupdate.toLocaleDateString('en-US', { timeZone: 'UTC' }),
        dropoff_date: bookingStore.dropoffdate.toLocaleDateString('en-US', { timeZone: 'UTC' }),
        selected_car: bookingStore.selectedcar,
        // booking_hour: '24 Hours',
        price: bookingStore.totalcost,
      })
      .then(function (response) {
        blocked.value = false;
          Swal.fire({
          title: 'Good job!',
          icon: 'success',
          text: 'Booking Successfully created!',
          showCloseButton: false,
          showCancelButton: true,
          focusConfirm: true,
          allowOutsideClick: false,
          confirmButtonText:
            '<a href="/booking">Create Another Booking</a>',
          cancelButtonText:
            '<a href="https://www.legendaryexoticrentals.com/">Go To Home</a>',
        })
      })
      .catch(function (error) {
        console.log(error.response.data);
      });
  };

    return {
      name,
      email,
      phone,
      blocked,
      bookingdays,
      pickupdate,
      dropoffdate,
      totalcost,
      submitBooking
    }
  },
};
</script>