<template>
  <div>
    <div class="p-16">
      <h1 class="sm:text-2xl md:text-3xl font-bold text-center text-black mb-8">Pickup Date</h1>
      <Calendar v-model="date" :minDate="new Date()" inline="" />
      <div class="flex justify-center mt-8">
      <Button @click="setPickupDate" label="Next" />
    </div>
    </div>
  </div>
  <!--
  <div class="p-16 block">
    <h1 class="text-2xl font-medium text-center text-black mb-6">Pickup Date</h1>
    <div class="">
      <div class="bg-white sm:p-8 md:p-12 md:m-4 rounded-md drop-shadow-lg w-full">
        <div class="flex">
          <VDatePicker v-model="date" mode="date" timezone="UTC" :min-date="new Date().toDateString()" expanded />
        </div>
        <div class="flex justify-center w-full mt-4">
          <Button @click="setPickupDate" label="Next" />
        </div>
      </div>
    </div>
  </div>
  -->
</template>

<script>
import { ref } from 'vue';
import { defineStore } from 'pinia'
import { useRouter } from 'vue-router';
import VCalendar from 'v-calendar';
import { DateTime, Interval } from 'luxon';
import 'v-calendar/style.css';
import Calendar from 'primevue/calendar';
import Button from 'primevue/button';
import Swal from 'sweetalert2';

import { useBookingStore } from './store';

export default {
  components: {
    Button,
    Calendar
  },
  // data() {
  //   return {
  //     date: null,
  //   };
  // },
  setup(){
    const router = useRouter();
    const date = ref(null);

    const bookingStore = useBookingStore(); // Access the store

    const setPickupDate = () => {
      if (date.value != null) {
        bookingStore.pickupdate = date.value;

        router.push({
          path: '/dropoff',
          name: 'dropoff',
        });
      } else {
        Swal.fire({
        title: 'Error!',
        text: 'Please select pickup a date',
        icon: 'error',
        confirmButtonText: 'OK'
      })
      }
    };

    return {
      date,
      setPickupDate
    }
  },
  methods: {
    
  },
  mounted(){
    
  }
};
</script>
